.button {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 8px;
    padding: 15px 20px 14px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    cursor: pointer;
    /*width: 182px;*/
    transition: opacity 200ms ease-in-out, backround 200ms ease-in-out;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none
}

.button_primary {
    background: #4263EB;
    color: #ffffff;
    

}

.button_primary:hover {
    background: #2342C0;
}

.button_primary:hover:disabled {
    background: #4263EB;
    color: #ffffff;
    pointer-events: none;
}

.button_secondary {
    background: #7048E8;
    color: #ffffff;
}

.button_secondary:hover {
    background: #5028C6;
}

.button_secondary:hover:disabled {
    background: #7048E8;
    color: #ffffff;
}

.button_alternate {
    background: white;
    color: #495057;
    border: 1px solid #ACB5BD;
}

.button_alternate:hover:disabled {
    background: white;
    color: #495057;
   
}

.button_alternate:hover {
    background: white;
    border: 1px solid #212429;
    border: none;
    
}

